@import "./../index.scss";

.game-host-container {
    margin-top: 20px;
    background-color: $primaryColor3;
    padding: 10px;
    text-align: center;
   
    .button-component {
        margin-top: 20px;
    }

}

.game-display {
    margin: 10px;
    background-color: $primaryColor3;
    padding: 10px;
    text-align: center;
    width: 190px;
    margin: 0 auto;
    .game-image {
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        .game-name {
            font-size: small;
        }
    }
}