@import "./../index.scss";

.room-chat-component {
    width: 250px;    
    position: fixed;
    top: 0;
    right: 0;
    // border-left: 1px solid $primaryColor3;
    height: 100vh;
    padding-bottom: 20vh;
    overflow-y: auto;
    .chat {
        font-size: small;
        padding: 5px;
        background-color: $primaryColor3;
        margin: 5px;
        position: relative;
        
        .name {
            text-align: start;
            font-weight: bold;
        }

        .message-container {
           margin-top: 5px;
            text-align: start;
            display: flex;
            flex-direction: column;
        }

        .time {
            position: absolute;
            top: 5px;
            right: 5px;
            font-size: smaller;
        }
    }
}